.cat-info {
    display: flex;
    align-items: center;
    width: 750px;
    padding-top: 30px;
    padding-left: 20px;
}

.img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.cat-details {
    flex-grow: 1;
}

.Accent {
    font-weight: 900;

}

.breed-select {
    margin-left: 20px;
    margin-top: 10px;
    ;
}

.error {
    color: rgb(219, 26, 26);
}